body,html{
	height: 100%;
     }
body{
	margin-left: 40px;
}
.container{
	margin: 0;
	height: 100%;
	width: 50%;
}
.header{
	background-color:#FF6724;
	padding: 50px;
 }
 .content{
 	display: flex;
 	height: 70%;
 }
 .left{
 	background-color: #70BB52;
 width: 30%;
 }
 .right{
 	background-color: ;
 	width: 70%;
 	display: flex;
    flex-direction: column;
 }
 .blok1{
     background-color:#79143C; 
     height:100%;
 }
 .blok2{
     background-color: #EE6E9E;
     height: 100%;
 }
 .blok3{
     background-color: #A9671D;
     height: 100%;
 }
.footer{
	background-color: #E493F9;
	padding: 30px;
    
}